#header{
    display: flex;
    float:none;
    /* display: inline-block; */
}
#carti{
    position: absolute;
    font-size: 35px;
cursor: pointer;
    /* float: right; */
    right: 5%;
    margin-right:18px;
    /* margin-top: -32px; */
}
#user{
    cursor: pointer;
    margin-right:18px;
    /* z-index: 9; */
    position: absolute;
    /* float:right; */
    right:10%
    /* margin-top: -32px; */
}
#userLogin{
    float:right;
    /* margin-left: -40px; */
    position: absolute;
    right: 24%;
    width: 0%;
    padding-right: 1px;
    margin-top: 26px;
}
.head{
    background-color: white;
    height: 56px;
    /* z-index: 9; */
}

.badge:after{
    content:attr(value);
    font-size:20px;
    color: #fff;
    background: red;
    border-radius:50%;
    padding: 0 5px;
    position:relative;
    left:-8px;
    top:-10px;
    opacity:0.9;
}
#nameinc{
    /* font-size: 4rem; */

	margin-left: 20px;
	/* text-align: center; */
	font-weight: 900;
	font-family: 'Montserrat', sans-serif;
}
#logout{
    color: purple;
    cursor: pointer;
}