@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body {
	background: linear-gradient(90deg, #f2f1f5, #f4f4f6);
}



/* //////////////////////////////////////////////////////// */
#link {
	color: #E45635;
	display: block;
	font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	text-decoration: none;
}

#link:hover {
	color: #CCCCCC
}

#link,
#link:hover {
	-webkit-transition: color 0.5s ease-out;
	-moz-transition: color 0.5s ease-out;
	-ms-transition: color 0.5s ease-out;
	-o-transition: color 0.5s ease-out;
	transition: color 0.5s ease-out;
}

/** BEGIN CSS **/
body {
	background: #333333;
}

@keyframes rotate-loading {
	0% {
		transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
	}
}

@-moz-keyframes rotate-loading {
	0% {
		transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
	}
}

@-webkit-keyframes rotate-loading {
	0% {
		transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
	}
}

@-o-keyframes rotate-loading {
	0% {
		transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
	}
}

@keyframes rotate-loading {
	0% {
		transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
	}
}

@-moz-keyframes rotate-loading {
	0% {
		transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
	}
}

@-webkit-keyframes rotate-loading {
	0% {
		transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
	}
}

@-o-keyframes rotate-loading {
	0% {
		transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
	}
}

@keyframes loading-text-opacity {
	0% {
		opacity: 0
	}

	20% {
		opacity: 0
	}

	50% {
		opacity: 1
	}

	100% {
		opacity: 0
	}
}

@-moz-keyframes loading-text-opacity {
	0% {
		opacity: 0
	}

	20% {
		opacity: 0
	}

	50% {
		opacity: 1
	}

	100% {
		opacity: 0
	}
}

@-webkit-keyframes loading-text-opacity {
	0% {
		opacity: 0
	}

	20% {
		opacity: 0
	}

	50% {
		opacity: 1
	}

	100% {
		opacity: 0
	}
}

@-o-keyframes loading-text-opacity {
	0% {
		opacity: 0
	}

	20% {
		opacity: 0
	}

	50% {
		opacity: 1
	}

	100% {
		opacity: 0
	}
}

.loading-container,
.loading {
	height: 100px;
	position: relative;
	width: 100px;
	border-radius: 100%;
}


.loading-container {
	margin: 40px auto
}

.loading {
	border: 2px solid transparent;
	border-color: transparent rgb(197, 44, 44) transparent rgb(242, 217, 229);
	-moz-animation: rotate-loading 1.5s linear 0s infinite normal;
	-moz-transform-origin: 50% 50%;
	-o-animation: rotate-loading 1.5s linear 0s infinite normal;
	-o-transform-origin: 50% 50%;
	-webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
	-webkit-transform-origin: 50% 50%;
	animation: rotate-loading 1.5s linear 0s infinite normal;
	transform-origin: 50% 50%;
}

.loading-container:hover .loading {
	border-color: transparent #E45635 transparent #E45635;
}

.loading-container:hover .loading,
.loading-container .loading {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

#loading-text {
	-moz-animation: loading-text-opacity 2s linear 0s infinite normal;
	-o-animation: loading-text-opacity 2s linear 0s infinite normal;
	-webkit-animation: loading-text-opacity 2s linear 0s infinite normal;
	animation: loading-text-opacity 2s linear 0s infinite normal;
	color: #c10d0d;
	font-family: "Helvetica Neue, " Helvetica", " "arial";
	font-size: 10px;
	font-weight: bold;
	margin-top: 45px;
	opacity: 0;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	top: 0;
	width: 100px;
}

/* Loading css ^|////////////////////////////////////////////// */

#quote {
	font-size: 2rem;

	margin-left: 100px;
	/* text-align: center; */
	font-weight: 900;
	font-family: 'Montserrat', sans-serif;
	transform: translateY(80px);
    animation: slideUp .5s ease forwards .4s;
}
/* ////////////////////////////////////////////////////////////// */
/* .offset-header {
	font-family: Outfit;
	font-style: normal;
	font-weight: 400;
	font-size: 42px;
	line-height: 44px;
	letter-spacing: -0.02em;
	max-width: 500px;
	margin: 10px 0;
	} */
  
	span.offset-header {
	  display: block;
	  overflow: hidden;
	}
	span.offset-header > span {
	  animation-name: slideUp;
	  animation-duration: 0.5s;
	  animation-timing-function: ease-in;
	  display: block;
	}
	.offset-header-odd > span {
	  /* text-align: left; */
	  animation-delay: 0s;
	  animation-fill-mode: forwards;
	}
	.offset-header-even > span {
	  /* text-align: right; */
	  animation-delay: 150ms;
	  animation-fill-mode: both;
	}
  
	@keyframes slideUp {
	  0%,
	  50% {
		transform: translateY(100%);
		opacity: 0;
	  }
	   
	  60%,
	  100% {
		transform: translateY(0);
		opacity: 1;
	  
	  }
	}
	/* ///////////////////////////////////////////////////// */
  

#loadMore {
	text-align: center;
	font-size: 1rem;
	cursor: pointer;
	padding: 5px 11px;
	cursor: pointer;
	background: #c8d2d8;
	width: 120px;
	margin: 3px;
	position: relative;
	border-radius: 7px;
	font-family: 'Montserrat', sans-serif;
	
	
}
#divloadmore{
	text-align: center;
}
/* ///////////////////////////////////////// */

	span.anima {
	  display: block;
	  overflow: hidden;
	}
	span.anima > span {
	  animation-name: slidefor;
	  animation-duration: 2s;
	  animation-timing-function: ease-in;
	  display: block;
	}
	.anima-odd > span {
	  /* text-align: left; */
	  animation-delay: 0s;
	  animation-fill-mode: forwards;
	}
	.anima-even > span {
	  /* text-align: right; */
	  animation-delay: 50ms;
	  animation-fill-mode: both;
	}
  
	@keyframes slidefor {
	  0%,
	  50% {
		transform: translateX(100%);
		opacity: 0;
	  }
	   
	  60%,
	  100% {
		transform: translateY(0);
		opacity: 1;
	  
	  }
	}
	/* //////////////////////////////////////////// */

	span.leftanima {
		display: block;
		overflow: hidden;
	  }
	  span.leftanima > span {
		animation-name: slidefor;
		animation-duration: 2s;
		animation-timing-function: ease-in;
		display: block;
	  }
	  .leftanima-odd > span {
		/* text-align: left; */
		animation-delay: 0s;
		animation-fill-mode: forwards;
	  }
	  .leftanima-even > span {
		/* text-align: right; */
		animation-delay: 50ms;
		animation-fill-mode: both;
	  }
	
	  @keyframes slidefor {
		0%,
		50% {
		  transform: translateX(-100%);
		  opacity: 0;
		}
		 
		60%,
		100% {
		  transform: translateY(0);
		  opacity: 1;
		
		}
	  }

	  .hero-header{
		color:#4821c8;
	  }